---
layout: archive
title: "Alumni and former members"
permalink: /alumni/
author_profile: true
---

{% include base_path %}

<p>We appreciate everyone who has contributed to our lab, whether through a brief internship or by supporting our projects on a longer time scale. All your efforts have helped shape our research in meaningful ways.</p>

{% assign alumni = site.people | where: "status", "alumni" | sort: "end_date" | reverse %}
{% for post in alumni %}
  {% include archive-single.html %}
{% endfor %}

<h2>Thanks also to:</h2>
{% assign former = site.data.former_members | sort: "end_date" | reverse %}
<p>{% for member in former %}{{ member.name }}{% unless forloop.last %}, {% endunless %}{% endfor %}.</p>
