---
layout: archive
title: "People"
permalink: /people/
author_profile: true
---

{% include base_path %}


{% for post in site.people %}
  {% if post.status == "active" and post.title != "Collaborators" %}
    {% include archive-single.html %}
  {% endif %}
{% endfor %}

{% for post in site.people %}
  {% if post.status == "hidden" %}
    {% include archive-single.html %}
  {% endif %}
{% endfor %}

{% for post in site.people %}
  {% if post.title == "Collaborators" %}
    {% include archive-single.html %}
  {% endif %}
{% endfor %}

